In [2]:
#Q.2 write a python program to find the sqares of all the numbers in the given list 
 # of integers using lambda and map functtions.

 # [1,2,3,4,5,6,7,8,9,10]

In [3]:
# Ans. map function

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]

In [5]:
def sq(x):
    return x**2

In [6]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# lambda function

In [10]:
(list(map(lambda x:x**2,l)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# Q.4 Write a python program using reduce function to compute the product of a list containing 
# numbers from 1 to 25.

In [13]:
from functools import reduce

In [14]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [15]:
reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [16]:
# Q.5 Write a python program to filter the numbers in a givenlist that are divisible by 2 and 3 using the
# filter function.
# [2,3,6,9,27,60,,90,120,55,46]

In [17]:
l=[2,3,6,9,27,60,90,120,55,46]

In [18]:
list(filter(lambda x:x%2==0,l))

[2, 6, 60, 90, 120, 46]

In [19]:
list(filter(lambda x:x%3==0,l))

[3, 6, 9, 27, 60, 90, 120]

In [20]:
# Q.6 Write a python program to find palindromes in the given list of strings list of string using lambda 
# lambda and filter function.
# ['python','php','aba','radar','level']

In [21]:
s=['python','php','aba','radar','level']

In [22]:
list(filter(lambda x:x[::-1],s))

['python', 'php', 'aba', 'radar', 'level']

In [24]:
# Q.1 Create a python program to short the givenlist of tuples based on integer value using a lambda
# function.
# ('Sachin Tendulkar',34367),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohali',24936)]

In [32]:
list_of_tupple=[('Sachin Tendulkar',34367),('Ricky Ponting',27483),('Jack Kallis',25534),
                ('Virat Kohali',24936)]

In [34]:
lambda s:s.short(),list_of_tupple

(<function __main__.<lambda>(s)>,
 [('Sachin Tendulkar', 34367),
  ('Ricky Ponting', 27483),
  ('Jack Kallis', 25534),
  ('Virat Kohali', 24936)])

In [35]:
# Q.3 Write a python program to convrt the given list of integers into a tupple 
# of strings.Use map and lambda function.
#[1,2,3,4,5,6,7,8,9,10]

In [36]:
l=[1,2,3,4,5,6,7,8,9,10]

In [38]:
tuple(map(lambda x:xstr(x),l)

TypeError: tuple expected at most 1 argument, got 2